bosdyn-api==5.1.4
bosdyn-choreography-client==5.1.4
bosdyn-client==5.1.4
bosdyn-core==5.1.4
bosdyn-mission==5.1.4
bosdyn-orbit==5.1.4
certifi==2026.2.25
charset-normalizer==3.4.7
Deprecated==1.2.18
grpcio==1.80.0
idna==3.11
keyboard==0.13.5
numpy==2.4.4
opencv-python==4.13.0.92
protobuf==7.34.1
PyJWT==2.12.1
pynmea2==1.19.0
requests==2.33.1
scipy==1.17.1
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==1.17.3
